.footer{
	.logo {
		display: block;
		margin-bottom: 20px;
	
		color: $text-white-color;
		text-decoration: none;
	 }
	 
	.contact {
		color: $secondary-text-color;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.71;
		text-decoration: none;
	 }
	 .adress {
		color: $text-white-color;
		display: flex;
		margin-bottom: 9px;}
	 .phone {
		display: flex;
		margin-bottom: 9px;}
	
	
}

@media screen and (min-width: 480px){
	.footer{
		width: 480px;
		.contact-info{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 60px;
		}

		}
	}

@media screen and (min-width: 768px){
	.footer{
		margin-left: auto;
		margin-right: auto;
		width: 768px;
	}
	
}
@media screen and (min-width: 1200px){
	
/*футре - столбец адресов*/
.footer {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	.contact-info {
		
	   display: block;
	   margin-right:80px ;
	}
}
	
}