
@media screen and (min-width: 480px){

}
@media screen and (min-width: 768px){
	
}
@media screen and (min-width: 1200px){
	.hero {
		max-width: 1600px;
		min-height: 600px;
		margin-left: auto;
		margin-right: auto;
	
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)),
			url(../img-origin/Header-optimize.jpg);
	
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		padding-top: 200px;
		padding-bottom: 200px;
	
	
	 .title {
		max-width: 696px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 30px;
		color: $text-white-color;
	
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	 }
	}
	
}